:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #fff;
  --light--bgc: #f5f4fa;
  --dark-bgc: #2f303a;
  --black: #000;
  --footer--link: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--first-text-color);
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.button {
  background-color: var(--light--bgc);
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-part {
  font-weight: 700;
  color: var(--black);
}

/* site nav */
.header-link:hover,
.header-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-link {
  color: var(--black);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: #757575;
}
.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--dark-bgc);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*  */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--second-text-color);
}

/* advantages */

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.advantages-list-description {
  color: #757575;
  line-height: 1.71;
}

/* Team */
.team-title,
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-title {
  font-weight: 500;
  color: var(--second-text-color);
}

/* footer */

.footer {
  background-color: var(--dark-bgc);
}

.footer-logo {
  color: var(--white-color);
}

.footer-link {
  color: var(--footer--link);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.location {
  color: var(--white-color);
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.works-item {
  font-size: 16px;
  line-height: 1.88;
}
