body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.button {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

/*
 active -  #2196F3


*/

.logo {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  text-decoration: none;
}

.logo-part {
  font-weight: 700;
  color: #000000;
}

/* site nav */
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-link {
  color: #757575;
}

.site-nav .link {
  color: #000000;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.header-link > .current {
  color: #2196f3;
}

.contacts {
  color: #757575;
}

/* hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

/*  */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}

/* advantages */

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  color: #212121;
}

.advantages-list-description {
  color: #757575;
  line-height: 1.71;
}

/* Team */
.team-title,
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-title {
  font-weight: 500;
  color: #212121;
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: #ffffff;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
